<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>
      <div class="main-welcome-sidebar">
        <h4><%= article.title %></h4>
        <p class='full-article'><%= article.content %></p>
        <form class='article-delete-form' action="/articles/article<%= article.id%>" method="post">
          <input class="article-delete-button" type="submit" name="" value="Удалить">
        </form>
      </div>
      <div class="main-welcome-action">
        <% if ( articles == '' ) { %>
          <h3>У вас нет проверенных статей...</h3>
        <% }; %>
        <% articles.forEach(function(article) {%>
          <div class="article">
            <h2><%= article.title %></h2>
            <p><%= chopContent(article.content) %></p>
            <a class='article-button' href='/articles/article<%= article.id%>'>Читать</a>

            <% function chopContent(article) {
              var i = 0;
              var data = article;
              var content = '';
              while (i < 25) {
                if ( !data[i] ) { break; };
                content += data[i];
                i++;
              };
              content += '...';
              return content;
            }; %>

          </div>
        <% }) %>
      </div>
      <%- include("../public/footer.html") -%>
    </div>
  </body>
</html>
