<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>

      <div class="main-welcome-sidebar">
        <form class='register-login-article-form' action="/register" method="post">
          <div>
            <div>
              <h2><%=title %></h2>
            </div>
            <div>
              <input class="input" type='text' name='user[login]' placeholder='Имя пользователя' />
            </div>
            <div>
              <input class="input" type='password' name='user[password]' placeholder='Пароль' />
            </div>
            <div>
              <input class="input-button" type='submit' value='Зарегистрироваться' />
            </div>
            <%- include("messages") -%>
          </div>
        </form>
      </div>
      <%- include("../public/footer.html") -%>
    </div>
  </body>
</html>
